<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>-</title>

        {# inline css #}
        {% if env.dev %}
            <link rel="stylesheet" href="/css/reset.css">
            <link rel="stylesheet" href="/css/main.css">
            <script src="/js/main.js"></script>
        {% else %}
            <style>
                {% include "../css/reset.css" %}
            </style>
            <style>
                {% include "../css/main.css" %}
            </style>
        {% endif %}

    </head>
    <body>
        {% include "partials/settings.njk" %}
        <main style="grid-row:1/3;grid-column:1/3">{{content | safe}}</main>
        {# inline script #}
        {% if not env.dev %}
            <script>
                {% include "../js/main.js" %}
            </script>
        {% endif %}
        <script>
            {% include "../js/saveTo.js" %}
        </script>
    </body>
</html>