---
layout: base.njk
---

{% macro biTree(depth = 0, n = 2, w = 256, h = 256) %}
    {% if depth < n %}
        {% if h > 8 and w > 1 %}

            {% set isVertical = [0, 1] | frand > 0.2 %}
            {% set sizeDist = 4 %}
            {% set delim = ([1, sizeDist] | irand * (1/sizeDist)) %}

            {% set wA = w %}
            {% set hA = h %}
            {% set wB = w %}
            {% set hB = h %}

            {% set translate = '' %}
            {% if isVertical %}
                {% set translate = delim * w + " 0" %}
                {% set wA = (1 - delim) * w %}
                {% set wB = (delim) * w %}
            {% else %}
                {% set translate = "0 " + delim * h %}
                {% set hA = (1 - delim) * h %}
                {% set hB = (delim) * h %}
            {% endif %}

            <g split-depth="{{depth}}">
                <g split-side="A" transform="translate({{translate}})">
                    <path d="M0,0 {{'v' if isVertical else 'h'}} {{h if isVertical else w}}" stroke="black" stroke-width="{{ 0.25 }}" />
                    {% if depth == n - 1 %}
                        {% set rectPadding = 0 %}
                        {% set rectSize = ([wA, hA] | min) * (rectPadding * 2) %}
                        <rect x="{{ rectSize / 2 }}" y="{{ rectSize / 2 }}" width="{{wA - rectSize}}" height="{{hA - rectSize}}" fill="url(#pattern-cross)" />
                        <g class="center" transform="translate({{wA/2}} {{hA/2}})">
                            <circle r="{{[wA/2.5,hA/2.5] | min}}" fill="url(#pattern-dots)" />
                        </g>
                    {% endif %}
                    {{ biTree(depth+1,n,wA,hA) }}
                </g>
                <g split-side="B" >
                    {% if depth == n - 1 %}
                        {% set rectPadding = 0 %}
                        {% set rectSize = ([wB, hB] | min) * (rectPadding * 2) %}
                        <rect opacity="1" x="{{ rectSize / 2 }}" y="{{ rectSize / 2 }}" width="{{wB - rectSize}}" height="{{hB - rectSize}}" fill="black" />
                        <g class="center" transform="translate({{wB/2}} {{hB/2}})" opacity="1">
                            {% set minL = ([wB, hB] | min) / 2 %}
                            {% if[0, 1] | frand > 0.9 %}
                                <g transform="rotate(-45)">
                                    <circle fill="white" r="{{minL/2}}" />
                                    <circle cx="{{minL/10}}" r="{{minL/2}}" />
                                </g>
                            {% else %}
                                <circle r="{{[wB/4,hB/4] | min}}" stroke-width="0.5" stroke="white" fill="none" />
                            {% endif %}

                        </g>
                    {% endif %}
                    {{ biTree(depth+1,n,wB,hB) }}
                </g>
            </g>
        {% endif %}
    {% endif %}
{% endmacro %}

<svg width="100%" height="100%" viewBox="0 0 256 256">
    <defs>
        {% set crossPatternWidth = 4 %}
        {% set crossPatternStrokeWidth = 0.3 %}
        <pattern id="pattern-cross" width="{{crossPatternWidth}}" height="{{crossPatternWidth}}" patternTransform="rotate(45)" patternUnits="userSpaceOnUse">
            <g stroke="black" stroke-width="{{crossPatternStrokeWidth}}" vector-effect="non-scaling-stroke">
                <path d="M0,{{crossPatternWidth/2}} h{{crossPatternWidth}}" />
                <path d="M{{crossPatternWidth/2}},0 v{{crossPatternWidth}}" />
            </g>
        </pattern>
        {% set dotsPatternWidth = 2 %}
        {% set dotsPatternRadius = 0.3 %}
        <pattern id="pattern-dots" width="{{dotsPatternWidth}}" height="{{dotsPatternWidth}}" patternTransform="rotate(45)" patternUnits="userSpaceOnUse">
            <g fill="black">
                <circle cx="{{dotsPatternRadius*2}}" cy="{{dotsPatternRadius*2}}" r="{{dotsPatternRadius}}" />
                <circle cx="{{dotsPatternWidth - dotsPatternRadius * 2}}" cy="{{dotsPatternWidth - dotsPatternRadius * 2}}" r="{{dotsPatternRadius}}" />
            </g>
        </pattern>
        {% include "partials/grain.njk" %}
    </defs>
    <rect width="100%" height="100%" fill="#fbfbfb" />

    <g split-tree="" transform="translate(0 0)" opacity="0.85" >
        {{ biTree(n=4) }}
    </g>
    <rect width="100%" height="100%" filter="url(#filter-grain)" opacity="0.05" />

    {# <rect id="debug-frame" width="100%" height="100%" stroke="black" fill="none" stroke-dasharray="2" stroke-width="0.5" /> #}
</svg>